/* Media Queries */

@media (max-width: 674px) {
  #logo {
    margin-right: 7rem;
  }
}

@media (max-width: 600px) {
  #logo {
    margin-right: 10rem;
  }
}

@media (max-width: 600px) {
  #logo {
    margin-right: 7rem;
  }
}

@media (max-width: 375px) {
  #logo {
    margin-right: 5rem;
  }
}

@media (max-width: 375px) {
  #logo {
    margin-right: 3rem;
  }
}

@media (max-width: 320px) {
  #logo {
    margin-right: 1rem;
    font-size: 2rem;
  }
}
